body {
	margin-top:20px !important;
}

.panel {
	background-color:#eeeeee;
}

body > .panel {
	margin:auto;
}

.menubar {
        height : 20px;
        width: 100%;
        overflow:hidden;
}

.menuitem {
        display:none;
}

.menu {
        float:left;
        margin-right:30px;
}

.panel {
	background-color:#eeeeee !important;
}

.label {
	color:#000000 !important;
}

.open > a {
	background-color:#aaaaaa !important;
}

.nav > li > a:hover {
	background-color:#cccccc !important;
}

.nav .open > a:hover {
	background-color:#aaaaaa !important;
}

.navbar-nav > li > a {
	border-radius: 0 15px 0px 15px !important;
}

.BorderLayoutAEAST {
	float:right;
}

.BorderLayoutAWEST {
}

.BorderLayoutASOUTH {
}

.panel-body {
    height: inherit;
    padding: 0 !important;
}

.desktoppane {
    height: inherit;
	overflow:auto;
}

.panel-heading {
}

body > .panel {
	padding-bottom:40px !important;
}